* {
     box-sizing: border-box;
}

 body {
     width: 100vw;
     height: 100vh;
     display: flex;
     justify-content: center;
     align-items: center;
     background: #030301;
}

 .meadow-container {
     margin-left: -13px;
     border-radius: 15px;
     background: darkgreen;
     background-image: url(./images/meadow.png);
     background-size: 30%;
     width: 390px;
     height: 390px;
     display: flex;
     justify-content: center;
     align-items: center;
}

 .castle-container {
     background-image: url(./images/castle.png);
     width: 375px;
     height: 375px;
     margin-top: 15px;
     background-size: contain;
     background-repeat: no-repeat;
     position: relative;
}

 .enemy {
     position: absolute;
     filter: contrast(2) brightness(1.2) 
}
 .enemy img {
     width: 45px;
}

 .button-container {
     display: flex;
     justify-content: center;
     margin-top: 20px;
}

 button {
     width: 112px;
     position: relative;
     display: inline-block;
     cursor: pointer;
     outline: none;
     border: 0;
     vertical-align: middle;
     text-decoration: none;
     font-family: inherit;
     font-size: 16px;
     font-weight: 700;
     color: #382b22;
     padding: .75em .5em;
     background: #f9c4d2;
     border: 2px solid #b18597;
     border-radius: 0.75em;
     -webkit-transform-style: preserve-3d;
     transform-style: preserve-3d;
     -webkit-transition: background 150ms cubic-bezier(0, 0, 0.58, 1), -webkit-transform 150ms cubic-bezier(0, 0, 0.58, 1);
     transition: transform 150ms cubic-bezier(0, 0, 0.58, 1), background 150ms cubic-bezier(0, 0, 0.58, 1), -webkit-transform 150ms cubic-bezier(0, 0, 0.58, 1);
     font-family: 'New Rocker', cursive;
}

 button::before {
     position: absolute;
     content: '';
     width: 100%;
     height: 100%;
     top: 0;
     left: 0;
     right: 0;
     bottom: 0;
     background: #ffe0f0;
     border-radius: inherit;
     -webkit-box-shadow: 0 0 0 2px #b18597, 0 0.625em 0 0 #ffe3e2;
     box-shadow: 0 0 0 2px #b18597, 0 0.625em 0 0 #ffe3e2;
     -webkit-transform: translate3d(0, 0.75em, -1em);
     transform: translate3d(0, 0.75em, -1em);
     transition: transform 150ms cubic-bezier(0, 0, 0.58, 1), box-shadow 150ms cubic-bezier(0, 0, 0.58, 1), -webkit-transform 150ms cubic-bezier(0, 0, 0.58, 1), -webkit-box-shadow 150ms cubic-bezier(0, 0, 0.58, 1);
}

 button:hover {
     background: #f9d6e2;
}

 button::before {
     -webkit-box-shadow: 0 0 0 2px #b18597, 0 0.5em 0 0 #ffe3e2;
     box-shadow: 0 0 0 2px #b18597, 0 0.5em 0 0 #333333;
     -webkit-transform: translate3d(0, 0.5em, -1em);
     transform: translate3d(0, 0.5em, -1em);
}

 button:active {
     background: #f9d6e2;
     -webkit-transform: translate(0em, 0.75em);
     transform: translate(0em, 0.75em);
}

 button:active::before {
     -webkit-box-shadow: 0 0 0 2px #b18597, 0 0 #ffe3e2;
     box-shadow: 0 0 0 2px #b18597, 0 0 #ffe3e2;
     -webkit-transform: translate3d(0, 0, -1em);
     transform: translate3d(0, 0, -1em);
}

 button:focus:not(:focus-visible) {
     outline: 0;
}
